*{
    margin:0;
    padding: 0;
}




/*  Donate bannar */

#donate-bannar{
    background-image: url(images/donation5.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height: 600px;
}

#donate-bannar .overlay{
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0,0.7);
}
#donate-bannar .overlay .text{
    text-align: center;
}

#donate-bannar .overlay .text h1{
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size:65px;
    font-weight: 700;
    padding-top: 100px;;
}
#donate-bannar .overlay .text p{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 18px;
    font-weight: 400;
}
#donate-bannar .overlay .text a{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    font-weight: 400;
    color:white;
    background:tomato;
    padding:10px 20px;
    text-decoration: none;
    line-height: 50px;;
}


/*     donate - today          */

#Donate-today{

}
#Donate-today .text{
   text-align: center;

}

#Donate-today .text h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color:black;

}

#Donate-today .text p{
    font-family: 'Roboto', sans-serif;
    color:#707070;;
    font-size: 18px;
    font-weight: 400;
}


#Donate-today .cash-pay{
    display: flex;
    margin-top:50px;
    margin-left: 150px;;
}


#Donate-today .cash-pay .amount1{
    width:8%;
    background: #FAFAFA;
    padding: 50px;;
    margin-left: 30px;;
    box-shadow: 0px 4px 10px rgba(0, 0, 0,0.15);
}
#Donate-today .cash-pay .amount2{
    width:8%;
    background: #FFEEEE;
    border: 4px solid#FF5959;
    padding: 50px;;
    margin-left: 30px;;
    box-shadow: 0px 4px 10px rgba(0, 0, 0,0.15);
}
#Donate-today .cash-pay .amount3{
    width:8%;
    background: #FAFAFA;
    padding: 50px;;
    margin-left: 30px;;
    box-shadow: 0px 4px 10px rgba(0, 0, 0,0.15);
}
#Donate-today .cash-pay .amount4{
    width:8%;
    background: #FAFAFA;
    padding: 50px;;
    margin-left: 30px;;
    box-shadow: 0px 4px 10px rgba(0, 0, 0,0.15);
}
#Donate-today .cash-pay .amount5{
    width:8%;
    background: #FAFAFA;
    padding: 50px;;
    margin-left: 30px;;
    box-shadow: 0px 4px 10px rgba(0, 0, 0,0.15);
}

/* Other amount _ part */
.other-amount{
outline:none;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
display: flex;
text-align: center;
justify-content: center;
margin-top:50px;






}

.other-amount .amountpay{
  width:650px;
  background:#FAFAFA;
  padding:30px;
  box-shadow: 0px 0xp 10px rgba(0,0,0,0.1);

 

}

.other-amount .input-data{
    height: 40px;
    width:100%;
    position:relative;

}



.other-amount .input-data input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height:100%;
    width:100%;
    border: none;'
    font-size: 30px !important;
    border-bottom: 3px solid #DADADA;

}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size:15px;
    color:#4158d0;
}



.other-amount .input-data label{
    position: absolute;
    bottom:10px;
    left:250px;
    color:gray;
    pointer-events: none;
    transition: .4s;

}














